/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../../public/fonts/SF-Pro-Display-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'SF Pro Display';
}

.time-line-tags-btn {
  background: rgba(243, 244, 246, 0.30);
}

.time-line-tags:hover section {
  display: none;
}

.time-line-tags main {
  transform: translateY(500px);
  transition: transform 0.3s ease;

}

.time-line-tags:hover main {
  transform: translateY(0);
}


.border-syl {
  border-bottom: 1px dashed gray;
}



@media (max-width: 1224px) {
  .hero-header {
    flex-wrap: wrap;
  }

  .hero-header-img {
    max-width: 100%;
  }
}


.hero-header-img {
  max-width: 500px;
}


.shadow-dropdown {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
}


.modal-open {
  overflow: hidden;
}

/* 
.collection-bg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat; 
} */


.scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: #555 #eee;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
.tab-scroll {
  scrollbar-width: none;
}

/* Chrome, Edge, and Safari */
.tab-scroll::-webkit-scrollbar {
  width: 0;
}


.parent-bg {
  background: linear-gradient(180deg, rgba(17, 24, 39, 0.00) 0%, #111827 100%);
}