@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
}

.time-line-tags-btn {
  background: rgba(243, 244, 246, 0.30);
}


.time-line-tags:hover section {
  display: none;
}

.time-line-tags main {
  transform: translateY(300px);
  transition: transform 0.3s ease;

}

.time-line-tags:hover main {
  transform: translateY(0);
}


.border-syl {
  border-bottom: 1px dashed gray;
}